body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: scroll;
    height: 100svh;
    width: 100svw;
}

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

h1 {
    overflow-wrap: break-word;
    text-align: center;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    max-width: 1000px;
    max-height: 1000px;
}

svg path {
    stroke: #eee;
    stroke-width: .25;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.state-output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#notQuite {
    display: none;
}

.score-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-box p {
    padding: 10px;
}

.player-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

@media(max-width: 700px) {
    h1 {
        font-size: 1em;
    }
}